.imgSlider{
  object-fit: cover;
  background-color: black;
  width: 100%;
  max-height: 750px;
  border-bottom: 5px solid black;
}
.carousel-prev:before {
    background-image: url() !important;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.carousel-next:before {
    background-image: url() !important;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 10px;
    transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}