.topNav{
    display: flex;
    padding: 0px 60px;
    background-color : #000;
    color:#fff;
    margin: 0;
    justify-content: space-between; 
}
.topNav p{
    padding: 15px 10px;
    margin: 0px;
    display: inline-block;
    list-style: none;
}
 .topNav ul li {
    padding: 0px 10px;
    margin: 0px;
    display: inline-block;
    list-style: none;
}
.topNav a{
    color: #fff;
}