.footer{
    display: flex;
    padding: 0px 60px;
    background-color : #000;
    color:black;
    margin: 0;
    justify-content: space-between; 
    
}
.footer p{
    padding: 15px 10px;
    color: white;
    margin: 0px;
    display: inline-block;
    list-style: none;
}
 .footer ul li {
    padding: 0px 10px;
    margin: 0px;
    display: inline-block;
    list-style: none;
}
.footer a{
    color: #fff;
}