.navMenu{

    display: flex;
    padding: 10px 50px;
    background-color:#fff;
    margin: 0;
    padding-top: 15px;
    justify-content: space-between;
    
}
.navMenu img{
    padding: 5px 20px 10px;
    max-width: 100%;
    height: 100px;
  
}
.navMenu ul li{
    padding: 20px 20px 10px;
    margin: 0px;
    display: inline-block;
    list-style: none;
    line-height: 1.8em;
    
}
.navMenu a{
    font-weight: 600;
    text-decoration: none;
    color: black;
    
}
.navMenu a:hover{
   
    border-bottom: 3px solid rgb(255, 251, 18);
   
}